@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  background-color: #ffffff;
  margin: 0 auto;
  color: white;
  line-height: 1.6;
  font: 400 15px/28px "Poppins", sans-serif!important;
  overflow-x: hidden!important;
}


/* Global */
button {
  background-color: #ff9a41!important;
  color: #323982!important;
  font-size: 1rem!important;
  padding: 0.8rem 1.5rem!important;
  border-radius: 13px 13px 13px 0px !important;
  font-weight: 600!important;
}

h1, h2, h3, h4, h5{
  font-weight: 600!important;
}
/* Global */

nav {
  background-color: #000000c7;
}
nav a {
  padding-right: 1rem!important;
  padding-left: 1rem!important;

}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
 background-color: #08040427;
}

nav button {
 
  text-transform: capitalize!important;
  font-size: 1rem!important;
  padding: 0.8rem 1.3rem!important;
  
}



/* Showcase */
.showcase {
  margin: 0;
 padding: 0;
 background:linear-gradient( #171d59bd,#171d59bd),url(./Components/Home/img/Picture2.png);
 background-size: cover;
 width: 100vw;
 height: 80vh;
 position: relative;
 overflow-y: hidden;
}


.showcase .showcase-content {
  float: left!important;
  color: #ffffff;
  
  margin-top: 25vh;
  text-align: justify;
}

/* Showcase */


/* Service */

.services {
  color: #323982 ;
  
}

.services h3 {
  font-size: 2rem;
}

.services .card{
  box-shadow: none;
  transition: all 0.2s linear;
}

.services .card-title {
font-weight: 500;
}

.services .card-text {
  margin-top: 1rem;
  color: #323982!important;
   text-align: justify;

}

@media (prefers-reduced-motion: no-preference) {
.services img  {
   animation: App-logo-spin infinite 5s linear;
 }
}

@keyframes App-logo-spin {
 from {
   transform: rotate(0deg);
 }
 to {
   transform: rotate(360deg);
 }
}
/* Service */


/* Partner */

.partners h3{
  color: #323982!important;
  font-size: 1.3rem!important;
  
}
/* Partner */

/* Team */
.team {
  text-align: center;
  color: #323982;
}

.team .card {
  box-shadow: none;
}

.team img {
  border-radius: 30px;
  width: 150px;
}

.team h3{
  color: #323982!important;
  font-size: 1.3rem!important;
  text-align: left;
}

.team .card-text {
  margin-top: 0.5rem;
  color: #323982!important;
  font-size: 0.7rem!important;
 }
/* Team */


/* Who We Are */

.whoweare .row-text {
  background-color: #171c58bd ;
  padding-right: 3rem;
  color: #ffffff;
}
.whoweare .row-text{
 padding: 5rem 3rem!important;
}

.whoweare .row-text h4 {
  color: #ff9a41;
}

.whoweare img {
  transform: translateX(-50px);
  margin-right: 16rem;
    
}

.whoweare .col-md-4 {
  align-self: left!important;
  }

.whoweare .row-text .col-sm-4 h4 {
 color: #323982!important;
}

/* Who We Are */


/* Enrol Formm */
.enrolform {
  background-color: #ffffff;
  padding: 2rem 0;
  margin-top: 5rem;
}

.enrolform .container {
  background-color: #ff9a41;
  padding: 2rem;
}
 
.enrolform input {
  
  border: 1px solid #323982;
}
.enrolform textarea {
  
  border: 1px solid #323982!important;
  border-radius: 5px;
}


.enrolform input::placeholder {
  
  color: #323982;
}

.enrolform textarea::placeholder {
  
  color: #323982;
}

.enrolform h4{
  color: #323982;
}

.enrolform button{
  background-color: #323982d8!important;
  color: #ff9a41!important;
  font-weight: 700!important;
  
}


/* Enrol Formm */


/* Contact US */
#contact {
  margin-top: 3rem;
}
#contact .btn-outline-info {
  border-color: #fff !important;
}

#contact a {
  color: #090b0f;
  font-size: 25px;
  padding-left: 2rem;
}

#contact .btn-outline-info {
  color: #fff !important;
  font-size: 15px;
  
}

.contact input, .contact textarea {
  
  color: #ffffff!important;
}

.contact input::placeholder, .contact textarea::placeholder {
  
  color: #ffffff;
}


.contact { 
  background-repeat: no-repeat;
  background-image:linear-gradient( rgba(23, 29, 89, 0.741),rgba(23, 29, 89, 0.741)),url(./Components/Home/img/Picture2.png);
  background-size: cover;
 padding: 60px 60px;
 height: 150vh;
}


.contact .card {
  background-color: transparent!important;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 0!important;
}

.contact hr {
  border-top: 0.1px solid #ffffffd3;
}

.socials .box-icon {
  padding: 0.6rem;
  text-align: center !important;
  background-color: #2c1603;
  border-radius: 50%;
  box-shadow: 2px 0px 30px #978e8e;
}


/* Contact US */

/* Twitter */
.twitter a {
  color: #323982;
  font-weight: 600;
  font-size: 1.5rem;

}

/* Twitter */

/* Product */

.product {
  margin-top: 3rem;
}


.product .box-icon {
  margin: 1rem;
  

}
/* Product */


/* Footer */
footer {
background-color: #171d59bd ;
}
footer input{
  
  color: #ffffff!important;
}

footer input::placeholder {
  
  color: #ffffff!important;
}


footer .box-icon {
  margin-left: 1rem;
  padding: 0.6rem;
  text-align: center !important;
  background-color: #2c1603;
  border-radius: 50%;
  box-shadow: 5px 5px 10px #978e8e;
}




/* Media Query for Tab device */
/* Media Query for Tab device */

@media screen and (max-width: 1200px) {

/* Showcase */
  
.showcase {
 
 height: 60vh;
 
}

.showcase .showcase-content {
  margin-top: 15vh;
}

/* Showcase */


  .team img {
    width: 130px!important;
  }
 

  

}


/* Media Query for Tab device */
/* Media Query for Tab device */


/* Media Query for Tab 2 device */
/* Media Query for Tab device */

@media screen and (max-width: 768px) {

  /* Showcase */
    
  .showcase {
   
   height: 50vh;
   
  }
  
  .showcase .showcase-content {
    margin-top: 15vh;
  }
  
  /* Showcase */
  
  
    .team img {
      width: 130px!important;
    }

/* Who We Are */

.whoweare .col-md-4 .px-5{
  margin: 0!important;
  padding: 0!important;
 }
 

.whoweare .col-md-4 {
align-self: center!important;
}


/* Who We Are */

   
  }
  
  
  /* Media Query for Tab 2 device */
  /* Media Query for Tab 2 device */
  


/* Media Query for Mobile device */
/* Media Query for Mobile device */

@media screen and (max-width: 580px) {



  /* Showcase */
    
  .showcase {
   
    height: 50vh;
    
   }
   
   .showcase .showcase-content {
     margin-top: 10vh;
     padding: 1rem!important;
   }

   .showcase h1 {

     font-size: 2rem!important;
   }
   
   /* Showcase */


   
/* Who We Are */

.whoweare .row {
  flex-direction: column-reverse!important;
}
 


.whoweare .row-text{
 padding: 3rem 1rem!important;

}

.whoweare img {
  transform: translateX(0px);
  margin-right: 0rem;

    
}

.whoweare .col-md-4 .px-5{
  margin: 0!important;
  padding: 1rem!important;
 }
 

.whoweare .col-md-4 {
align-self: center!important;
padding: 1rem;
}


/* Who We Are */



  .team img {
    width: 120px!important;
  }
 
}


/* Media Query for Mobile device */
/* Media Query for Mobile device */
