/* branding */

.branding .row-text {
  background-color: #171c58bd ;

  color: #ffffff;
}
.branding .row-text{
 padding: 2rem 5rem!important;
}

.branding .row-text h4, .branding h3  {
  color: #ff9a41;
}

.branding img {
  transform: translateX(-70px);
  margin-right: 30rem;

}

.branding .col-md-5 {
  align-self: center!important;
  z-index: 1;
  }



.branding ul {
  list-style: none;
}

.branding li {
  padding-top: 0.6rem;
}

.branding li::before {
  content: "+";
  font-size: 20px;
  font-weight: 900;
  color: #ff9a41;
}



/* Media Query for Tab device */
/* Media Query for Tab device */

@media screen and (max-width: 1200px) {

  .branding .row-text{
    padding: 2rem 4rem!important;
   }
  /* .branding .col-md-4 .px-5{
    margin: 0!important;
    padding: 0!important;
   } */
   
   .branding img {
    transform: translateX(-50px);
    margin-right: 12rem;
    
  }
   
  .branding .col-md-4 {
  align-self: center!important;
  }
  
    }
    
    
    /* Media Query for Tab  device */
    /* Media Query for Tab device */



/* Media Query for Tab 2 device */
/* Media Query for Tab 2 device */

@media screen and (max-width: 768px) {

.branding .row-text{
  padding: 2rem 4rem!important;
 }
/* .branding .col-md-4 .px-5{
  margin: 0!important;
  padding: 0!important;
 } */
 
 .branding img {
  transform: translateX(-100px);
  margin-right: 0rem;
  
}

.branding .col-md-4 {
align-self: center!important;
}

  }
  
  
  /* Media Query for Tab 2 device */
  /* Media Query for Tab 2 device */
  


/* Media Query for Mobile device */
/* Media Query for Mobile device */

@media screen and (max-width: 580px) {

  .branding .row {
    flex-direction: column-reverse!important;
  }
   
.branding .row-text{
 padding: 3rem 1rem!important;
}

.branding img {
  transform: translateX(0px);
  margin-left: 0rem;
    
}

.branding .col-md-4 .px-5{
  margin: 0!important;
  padding: 1rem!important;
 }
 

.branding .col-md-4 {
align-self: center!important;
padding: 1rem;
}

}


/* Media Query for Mobile device */
/* Media Query for Mobile device */